<!DOCTYPE html>
<html>

<head>
    <title>Ranking Page</title>
    <link href="ranking.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/jpg" href="https://i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg" />
</head>

<body>
    <div id="bgImage"></div>
    <div id="main">
        {{>headbar}}
        <div id="banner">
            <div id="musicWorldImage"></div>
            <div id="bannerTitle">Top 10</div>
        </div>
        <div id="player">
            <iframe id="youtubeVideo" width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div id="rankedContent">
            {{#each topsongs as |song|}}
            <div id="r{{@index}}" class="rc">
                <div id="pi{{@index}}" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn{{@index}}" class="rankNum"><script type="text/javascript">var i = {{@index}} + 1 
            document.getElementById('rn{{@index}}').innerHTML = i </script></div>
                <div id="ri{{@index}}" class="rankImage" style="background-image:url(https://i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg); background-size:100% 100%;"></div>
                <div class="description">
                    <div id="st{{@index}}" class="songTitle">{{song.vn}}</div>
                    <div id ="rating" style="color: white">{{song.avg}}/5</div> 
                    <!-- {{>stars}} -->
                </div>
            </div>
            {{/each}}
           <!--  <div id="r2" class="rc">
                <div id="pi2" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn2" class="rankNum">2</div>
                <div id="ri2" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t404299032-b1337765670_s400.jpg); background-size:100% 100%;"></div>
                <div class="description">
                    <div id="st2" class="songTitle">Zombie</div>
                    <div id="sa2" class="songArtist">Bad Wolves</div>
                    {{>stars}}
                </div>
            </div>
            <div id="r3" class="rc">
                <div id="pi3" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn3" class="rankNum">3</div>
                <div id="ri3" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t413172299-b1369422581_s400.jpg); background-size:100% 100%;"></div>
                <div class="description">
                    <div id="st3" class="songTitle">Nice For What</div>
                    <div id="sa3" class="songArtist">Drake</div>
                    {{>stars}}
                </div>
            </div>
            <div id="r4" class="rc">
                <div id="pi4" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn4" class="rankNum">4</div>
                <div id="ri4" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t380753084-b1300750401_s400.jpg); background-size:100% 100%;"></div>
                <div class="description">
                    <div id="st4" class="songTitle">Not A Love Song</div>
                    <div id="sa4" class="songArtist">Bulow</div>
                    {{>stars}}
                </div>
            </div>
            <div id="r5" class="rc">
                <div id="pi5" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn5" class="rankNum">5</div>
                <div id="ri5" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t369605870-b1251713725_s400.jpg); background-size:100% 100%;"></div>
                <div class="description">
                    <div id="st5" class="songTitle">Meant To Be</div>
                    <div id="sa5" class="songArtist">Bebe Rexha Feat. Florida Georgia Line</div>
                    {{>stars}}
                </div>
            </div>
            <div id="r6" class="rc">
                <div id="pi6" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn6" class="rankNum">6</div>
                <div id="ri6" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t407729682-b1373517312_s400.jpg); background-size:100% 100%;"></div>
                <div class="description">
                    <div id="st6" class="songTitle">Psycho</div>
                    <div id="sa6" class="songArtist">Post Malone Feat. Ty Dolla $ign</div>
                    {{>stars}}
                </div>
            </div>
            <div id="r7" class="rc">
                <div id="pi7" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn7" class="rankNum">7</div>
                <div id="ri7" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t355460277-b1349124529_s400.jpg); background-size:100% 100%;"></div>
                <div class="description">
                    <div id="st7" class="songTitle">Whatever It Takes</div>
                    <div id="sa7" class="songArtist">Imagine Dragons</div>
                    {{>stars}}
                </div>
            </div>
            <div id="r8" class="rc">
                <div id="pi8" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn8" class="rankNum">8</div>
                <div id="ri8" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t385118726-b1321217021_s400.jpg); background-size:100% 100%;"></div>
                <div class="description">
                    <div id="st8" class="songTitle">Never Be The Same</div>
                    <div id="sa8" class="songArtist">Camila Cabello</div>
                    {{>stars}}
                </div>
            </div>
            <div id="r9" class="rc">
                <div id="pi9" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn9" class="rankNum">9</div>
                <div id="ri9" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t408829716-b1353168211_s400.jpg); background-size:100% 100%;"></div>
                <div class="description">
                    <div id="st9" class="songTitle">X</div>
                    <div id="sa9" class="songArtist">Nicky Jam & J Balvin</div>
                    {{>stars}}
                </div>
            </div>
            <div id="r10" class="rc">
                <div id="pi10" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn10" class="rankNum">10</div>
                <div id="ri10" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t407922423-b1350060041_s400.jpg); background-size:100% 100%;"></div>
                <div class="description">
                    <div id="st10" class="songTitle">Batshit</div>
                    <div id="sa10" class="songArtist">Sofi Tukker</div>
                    {{>stars}}
                </div>
            </div>
        </div> -->
    </div>
    <script>
    let tlist = []
    {{#each topsongs as |song|}}
        tlist.push('{{song.vid}}')
    {{/each}}

    console.log(tlist);

    for (let i = 0; i < 10; i++) {
        let sss = (i).toString();

        /** Mouseover on the div, the cursor will have style pointer, and play button will transition from off the screen to within the div*/
        function rmouseover() {
            document.getElementById("r" + sss).style.cursor = "pointer";
            document.getElementById("pi" + sss).style.left = "10px";
        }

        /** Mouseout from div will move the play button of the div back to its initial offscreen position */
        function rmouseout() {
            document.getElementById("r" + sss).style.cursor = "pointer";
            document.getElementById("pi" + sss).style.left = "-50px";
        }

        /** Change display of player style to block upon clicking the div */
        function rclick() {
            player.style.display = "block";
            youtubeVideo.src = "https://www.youtube.com/embed/" + tlist[i] + "?autoplay=1";
            document.getElementById("bgImage").style.zIndex = "3";
        }

        /** Changes the display of player to none upon clicking the background image; Changes the z index of the background image to initial value (back of other divs) */
        function bgclick() {
            document.getElementById("player").style.display = "none";
            document.getElementById("bgImage").style.zIndex = "initial";
        }

        document.getElementById("r" + sss).addEventListener("mouseover", function() {
            rmouseover();
        });
        document.getElementById("r" + sss).addEventListener("mouseout", function() {
            rmouseout();
        });
        document.getElementById("r" + sss).addEventListener("click", function() {
            rclick();
        });
        document.getElementById("bgImage").addEventListener("click", function() {
            bgclick();
        });
        /* This function is used to display player to pause song*/
        document.getElementById("musicWorldImage").addEventListener("click", function() {
            document.getElementById("bgImage").style.zIndex = "3"; 
            document.getElementById("player").style.display = "block"; 
        });

    }
    </script>
</body>

</html>