<!DOCTYPE html>
<html>

<head>
    <title>Ranking Page</title>
    <link href="ranking.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/jpg" href="https://i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg" />
</head>

<body>
    <div id="bgImage"></div>
    <div id="main">
        {{>headbar}}
        <div id="banner">
            <div id="musicWorldImage"></div>
            <div id="bannerTitle">Top Songs</div>
        </div>
        <div id="player">
            <iframe id="youtubeVideo" width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div id="rankedContent">
            {{#each topsongs as |song|}}
            <div id="r{{@index}}" class="rc">
                <div id="pi{{@index}}" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn{{@index}}" class="rankNum"><script type="text/javascript">var i = {{@index}} + 1 
            document.getElementById('rn{{@index}}').innerHTML = i </script></div>
                <div id="ri{{@index}}" class="rankImage" style="background-image:url(https://i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg); background-size:100% 100%;"></div>
                <div class="description">
                    <div id="st{{@index}}" class="songTitle">{{song.vn}}</div>
                    <div id ="rating" style="color: white">{{song.avg}}/5</div> 
                </div>
            </div>
            {{/each}}
    </div>
    <script>
    // Create a list that with all the songs vid
    let tlist = []
    {{#each topsongs as |song|}}
        tlist.push('{{song.vid}}')
    {{/each}}

    // A loop that loop through and gets index for Id
    for (let i = 0; i < 100; i++) {
        let sss = (i).toString();

        // Mouseover on the div, the cursor will have style pointer, and play button will transition from off the screen to within the div 
        function rmouseover() {
            document.getElementById("r" + sss).style.cursor = "pointer";
            document.getElementById("pi" + sss).style.left = "10px";
        }

        /** Mouseout from div will move the play button of the div back to its initial offscreen position */
        function rmouseout() {
            document.getElementById("r" + sss).style.cursor = "pointer";
            document.getElementById("pi" + sss).style.left = "-50px";
        }

        /** Change display of player style to block upon clicking the div */
        function rclick() {
            player.style.display = "block";
            youtubeVideo.src = "https://www.youtube.com/embed/" + tlist[i] + "?autoplay=1";
            document.getElementById("bgImage").style.zIndex = "3";
        }

        /** Changes the display of player to none upon clicking the background image; Changes the z index of the background image to initial value (back of other divs) */
        function bgclick() {
            document.getElementById("player").style.display = "none";
            document.getElementById("bgImage").style.zIndex = "initial";
        }

        document.getElementById("r" + sss).addEventListener("mouseover", function() {
            rmouseover();
        });
        document.getElementById("r" + sss).addEventListener("mouseout", function() {
            rmouseout();
        });
        document.getElementById("r" + sss).addEventListener("click", function() {
            rclick();
        });
        document.getElementById("bgImage").addEventListener("click", function() {
            bgclick();
        });
        /* This function is used to display player to pause song if needed*/
        document.getElementById("musicWorldImage").addEventListener("click", function() {
            document.getElementById("bgImage").style.zIndex = "3"; 
            document.getElementById("player").style.display = "block"; 
        });

    }
    </script>
</body>

</html>