<DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="rating_music.css">
<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body style="overflow: hidden;">
    {{>headbar}}
    <div id="bg"></div>
      <form class="example" method="POST" action={{rating}}>
            <div id="searchbardiv">
                <input type="text" placeholder="Search.." name="song">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    <div id="display">
        <div id="player">
            <iframe id="youtube" style="border:none;" width="100%" height="42.5%" src="">
            </iframe>
            <h1 id="title"></h1>
            <form method="POST" action="/">
                <div id="favouritetab">Favourite <input type="checkbox" id="favourite" name="favourite" value="favourite"/></div>
                <input id="songname" type="hidden" name="song" value="{{link}}" />
                <!-- <input type="hidden" name="acct" value="{{data.acct}}"> -->
            
               <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <input type="submit" value="OK">
            </form>

        </div>
    </div>
        <div id="searchdisplay">
            {{>searchresults}}
        </div>
    <div id ='navBar'> 
        <button id='prevPage'> Previous Page </button>
        <button id='nextPage'> Next Page </button>
        
    </div>
    <script>
       var elements = document.getElementsByClassName("thumbnails"),
           youtube = document.getElementById("youtube"),
           player = document.getElementById("player"),
           title = document.getElementById("title")
           num = document.getElementsByClassName('thumbnailtitle');

        console.log(elements.length);
        // for (var i=0;i < elements.length; i++){
        //     const element = elements[i];
        //     element.addEventListener("click", function(){
        //         youtube.src = "https://www.youtube.com/embed/{{links}}";
        //         player.style.display = "block";
        //         title.innerHTML = "{{title}}";
        //     });
        // }
        document.getElementById('box1').addEventListener('click', function(){
            youtube.src = "https://www.youtube.com/embed/{{link1}}";
            player.style.display = "block";
            title.innerHTML = "{{title1}}";
        });
        document.getElementById('box2').addEventListener('click', function(){
            youtube.src = "https://www.youtube.com/embed/{{link2}}";
            player.style.display = "block";
            title.innerHTML = "{{title2}}";
        });

        document.getElementById('box3').addEventListener('click', function(){
            youtube.src = "https://www.youtube.com/embed/{{link3}}";
            player.style.display = "block";
            title.innerHTML = "{{title3}}";
        });
        

        document.getElementById('box4').addEventListener('click', function(){
            youtube.src = "https://www.youtube.com/embed/{{link4}}";
            player.style.display = "block";
            title.innerHTML = "{{title4}}";
        });

        document.getElementById('box5').addEventListener('click', function(){
            youtube.src = "https://www.youtube.com/embed/{{link5}}";
            player.style.display = "block";
            title.innerHTML = "{{title5}}";
        });

        document.getElementById('nextPage').addEventListener('click', function(){

            var elems = document.getElementsByClassName('searches');
            for (var i=0;i<elems.length;i+=1){
                elems[i].style.display = 'none';
            }

            document.getElementById('prevPage').style.display = 'block';
            var elems2 = document.getElementsByClassName('searches2');
            for (var i=0;i<elems2.length;i+=1){
                elems2[i].style.display = 'block';
            }
        })

        document.getElementById('prevPage').addEventListener('click', function(){

            var elems = document.getElementsByClassName('searches');
            for (var i=0;i<elems.length;i+=1){
                elems[i].style.display = 'block';
            }

            document.getElementById('prevPage').style.display = 'none';
            var elems2 = document.getElementsByClassName('searches2');
            for (var i=0;i<elems2.length;i+=1){
                elems2[i].style.display = 'none';
            }
        })


        document.getElementById('box6').addEventListener('click', function(){
            youtube.src = "https://www.youtube.com/embed/{{link6}}";
            player.style.display = "block";
            title.innerHTML = "{{title6}}";
        });
        document.getElementById('box7').addEventListener('click', function(){
            youtube.src = "https://www.youtube.com/embed/{{link7}}";
            player.style.display = "block";
            title.innerHTML = "{{title7}}";
        });

        document.getElementById('box8').addEventListener('click', function(){
            youtube.src = "https://www.youtube.com/embed/{{link8}}";
            player.style.display = "block";
            title.innerHTML = "{{title8}}";
        });
        

        document.getElementById('box9').addEventListener('click', function(){
            youtube.src = "https://www.youtube.com/embed/{{link9}}";
            player.style.display = "block";
            title.innerHTML = "{{title9}}";
        });

        document.getElementById('box10').addEventListener('click', function(){
            youtube.src = "https://www.youtube.com/embed/{{link10}}";
            player.style.display = "block";
            title.innerHTML = "{{title10}}";
        });
    </script>
</body>
</html>