<!DOCTYPE html>
<html>

<head>
    <title>Search Page</title>
    <link href="searchpage.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div id="bg"></div>
    <form method="POST" action="/rating">
        <input type="text" id="searchbar" name="song" placeholder="Search music world" />
    </form>
    <input type="hidden" name="login" value={{login}}>
    <input type="hidden" name="home" value={{home}}>
    <input type="hidden" name="link" value={{link}}>
    <input type="hidden" name="ranking" value={{ranking}}>
    <input type="hidden" name="playlist" value={{playlist}}>
    <input type="hidden" name="index" value={{index}}>
    <input type="hidden" name="searchindex" value={{searchindex}}>
    <input type="hidden" name="acct" value={{acct}}> {{>headbar}}
</body>

</html>