  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" text="text/css" href="..\\headbar.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
            

      <a class="navbar-brand" href="{{home}}"><div id="headbar_icon"></div><div id="headbar_text">Music World</div></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>
        <a href="{{discover}}">Discover</a></li>
        <li><a href="{{ranking}}">Ranking</a></li>
        <li><a href="{{playlist}}">Playlist</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">  
          {{#if login}}<button class="ProfilePicture" id="myBtn"></button>{{/if}}
          {{#unless login}}
        <button id="headbar_login" style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);height:40px;border-radius:5px;color:white;border:none;background-color:red;width:auto;font-size:15px; position:relative; bottom:20px;" onclick="location.href = '{{link}}';">login/signup</button>{{/unless}}
        <button id="headbar_logout" style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);position:relative; bottom:20px; height:40px;border-radius:5px;border:none;background-color:red;position:relative; z-index:{{index}};color:white;width:auto;font-size:15px;" onclick="location.href = '/';">log out</button>
          
        <!-- Trigger/Open The Modal -->
        

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>My Account</p>
              <form action="/edit" method="post" name="editacc">
                  Change Profile Picture
                  <div class="ProfilePicture" id="changepic"></div>
                  <input id="imgurl" type="text" placeholder="Insert Image URL" name="image" /> 
                  <input id="id" value="{{email}}" name="id" type="hidden" /><button id="submitImage">upload</button><br><br>
                  Change First Name/Last Name<br>
                <input type="text" id="firstName" value="{{first_name}}" name="fname" />
                  <input type="text" id="lastName" value="{{last_name}}" name="lname"/><br><br>
                  Change Password<br>
                  <input type="password" id="password" placeholder="password" name="pass"/><br><br>
                  <button id="confirm" type="submit">confirm</button>
                  <button id="cancel">cancel</button>
              </form>
          </div>

        </div>
      </ul>
    </div>
  </div>
</nav>
    
<script>// Get the modal
var modal = document.getElementById('myModal'),
    ProfilePicture = document.getElementsByClassName("ProfilePicture"),
    upload = document.getElementById("submitImage"),
    imgurl = document.getElementById("imgurl");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

//When the user clicks upload, change the profile picture
upload.addEventListener("click", function(){
    
ProfilePicture[0].style.backgroundImage = "url("+imgurl.value+")";
ProfilePicture[1].style.backgroundImage = "url("+imgurl.value+")";
    imgurl.value = "";
});
    
document.getElementById("confirm").addEventListener("click", function(){
console.log()});</script>
