<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" text="text/css" href="..\\headbar.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
            

      <a class="navbar-brand" href="{{home}}"><div id="headbar_icon"></div><div id="headbar_text"> music world</div></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{ranking}}">ranking</a></li>
        <li><a href="{{playlist}}">playlist</a></li>
        <li><a href="/searchpage">search</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">      
        <button id="headbar_login" style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);height:40px;border-radius:5px;color:white;top:20px;border:none;background-color:red;width:auto;font-size:15px;" onclick="location.href = '{{link}}';">{{login}}</button>
        <button id="headbar_logout" style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);height:40px;border-radius:5px;border:none;background-color:red;z-index: {{index}};color:white;width:auto;font-size:15px;" onclick="location.href = '/';">log out</button>
      </ul>
    </div>
  </div>
</nav>