<link rel="stylesheet" type="text/css" href="searchresults.css">   
<div class="searches">
        <img class="thumbnails" src="{{data.thumbnail0}}" />
        <div class="thumbnailtitle" value = '0'>{{data.title0}}</div>
</div>
<div class="searches1">
        <img class="thumbnails" src="{{data.thumbnail1}}" />
        <div class="thumbnailtitle" value = '1'>{{data.title1}}</div>
</div>
<div class="searches2">
        <img class="thumbnails" src="{{data.thumbnail2}}" />
        <div class="thumbnailtitle" value='2'>{{data.title2}}</div>
</div>