<link rel="stylesheet" type="text/css" href="searchresults.css">
<div class="searches">
    <img class="thumbnails" id='thumb1' src="{{img1}}" />
    <div class="thumbnailtitle">{{title1}}</div>
</div>
<div class="searches">
        <img class="thumbnails" id='thumb2' src="{{img2}}" />
        <div class="thumbnailtitle"'>{{title2}}</div>
</div>
<div class="searches">
        <img class="thumbnails" id='thumb3' src="{{img3}}" />
        <div class="thumbnailtitle" >{{title3}}</div>
</div>
<div class="searches">
        <img class="thumbnails" id='thumb4' src="{{img4}}" />
        <div class="thumbnailtitle"'>{{title4}}</div>
</div>
<div class="searches">
        <img class="thumbnails" id='thumb5' src="{{img5}}" />
        <div class="thumbnailtitle" >{{title5}}</div>
</div>