<link rel="stylesheet" type="text/css" href="searchresults.css">
<div class="searches" id='box1'>
    <img class="thumbnails" id='thumb1' src="{{img1}}" />
    <div class="thumbnailtitle">{{title1}}</div>
</div>
<div class="searches" id='box2'>
        <img class="thumbnails" id='thumb2' src="{{img2}}" />
        <div class="thumbnailtitle"'>{{title2}}</div>
</div>
<div class="searches" id='box3'>
        <img class="thumbnails" id='thumb3' src="{{img3}}" />
        <div class="thumbnailtitle" >{{title3}}</div>
</div>
<div class="searches" id='box4'>
        <img class="thumbnails" id='thumb4' src="{{img4}}" />
        <div class="thumbnailtitle"'>{{title4}}</div>
</div>
<div class="searches" id='box5'>
        <img class="thumbnails" id='thumb5' src="{{img5}}" />
        <div class="thumbnailtitle" >{{title5}}</div>
</div>



<div class="searches2" id='box6'>
    <img class="thumbnails" id='thumb6' src="{{img6}}" />
    <div class="thumbnailtitle">{{title6}}</div>
</div>
<div class="searches2" id='box7'>
        <img class="thumbnails" id='thumb7' src="{{img7}}" />
        <div class="thumbnailtitle"'>{{title7}}</div>
</div>
<div class="searches2" id='box8'>
        <img class="thumbnails" id='thumb8' src="{{img8}}" />
        <div class="thumbnailtitle" >{{title8}}</div>
</div>
<div class="searches2" id='box9'>
        <img class="thumbnails" id='thumb9' src="{{img9}}" />
        <div class="thumbnailtitle"'>{{title9}}</div>
</div>
<div class="searches2" id='box10'>
        <img class="thumbnails" id='thumb10' src="{{img10}}" />
        <div class="thumbnailtitle" >{{title10}}</div>
</div>