<link rel="stylesheet" type="text/css" href="searchresults.css">   
<div class="searches">
        <img class="thumbnails" src="{{img}}" />
        <div class="thumbnailtitle" value = '0'>{{title}}</div>
</div>
<div class="searches1">
        <img class="thumbnails" src="{{img}}" />
        <div class="thumbnailtitle" value = '1'>{{title}}</div>
</div>
<div class="searches2">
        <img class="thumbnails" src="{{img}}" />
        <div class="thumbnailtitle" value='2'>{{title}}</div>
</div>